<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Timer - ATime</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

        <style>
            @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

            html {
                box-sizing: border-box;
            }

            *, *:before, *:after {
                box-sizing: inherit;
            }

            html {
                position: relative;
                min-height: 100%;
            }

            body {
                background-color: #000;
                margin: 0 0 100px;
                padding: 25px;
            }

            #container {
                height: 200px;
                position: relative;
                color: white;
            }

            #countdown {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                color: white;
            }

            ul#countdown {
                top: 50%;
                margin: 0 auto;
                padding: 15px 0 15px 0;
                color: #fff;
                overflow: hidden;
                font-family: "Arial Narrow", Arial, sans-serif;
                font-weight: bold;
                text-align: center;
            }

            ul#countdown li {
                padding: 50px;
                display: inline-block;
                font-size: 72px;
                font-size: 6vw;
                text-align: center;
            }

            ul#countdown li .label {
                color: #adafb2;
                font-size: 18px;
                font-size: 1.5vw;
                text-transform: uppercase;
            }

            #countdown #info {
                color: white;
                font-family: "Arial Narrow", Arial, sans-serif;
                font-weight: bold;
                text-align: center;
                font-size: 1.1vw;
            }

            .footer-distributed {
                position: absolute;
                background-color: #292c2f;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
                box-sizing: border-box;
                width: 100%;
                text-align: left;
                font: normal 16px sans-serif;
                left: 0;
                bottom: 0;
                height: 100px;
                width: 100%;
                overflow: hidden;
            }

            .footer-distributed .footer-left p {
                color: #8f9296;
                font-size: 14px;
                margin: 0;
            }
            /* Footer links */

            .footer-distributed p.footer-links {
                font-size: 18px;
                font-weight: bold;
                color: #ffffff;
                margin: 0 0 10px;
                padding: 0;
                transition: ease .25s;
            }

            .footer-distributed p.footer-links a {
                display: inline-block;
                line-height: 1.8;
                text-decoration: none;
                color: inherit;
                transition: ease .25s;
            }

            .footer-distributed .footer-links a:before {
                content: "·";
                font-size: 20px;
                left: 0;
                color: #fff;
                display: inline-block;
                padding-right: 5px;
            }

            .footer-distributed .footer-links .link-1:before {
                content: none;
            }

            .footer-distributed .footer-right {
                float: right;
                margin-top: 6px;
                max-width: 180px;
            }

            .footer-distributed .footer-right a {
                display: inline-block;
                width: 35px;
                height: 35px;
                background-color: #33383b;
                border-radius: 2px;
                font-size: 20px;
                color: #ffffff;
                text-align: center;
                line-height: 35px;
                margin-left: 3px;
                transition:all .25s;
            }

            .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

            .footer-distributed p.footer-links a:hover{text-decoration:underline;}

            /* Media Queries */

            @media (max-width: 600px) {
            .footer-distributed .footer-left, .footer-distributed .footer-right {
                text-align: center;
            }
            .footer-distributed .footer-right {
                float: none;
                margin: 0 auto 20px;
            }
            .footer-distributed .footer-left p.footer-links {
                line-height: 1.8;
            }
            }
        </style>
    </head>
    <body>
        <div id="center">
            <ul id="countdown">
                <div id="info"><%=timer.display.split("{nazwa}").join(timer.title).split("{data}").join(timer.date.split("-")[2] + "." + timer.date.split("-")[1] + "." + timer.date.split("-")[0]).split("{godzina}").join(timer.time)%></div>
                <li id="days">
                    <div class="number">00</div>
                    <div class="label">Dni</div>
                  </li>
                  <li id="hours">
                    <div class="number">00</div>
                    <div class="label">Godzin</div>
                  </li>
                  <li id="minutes">
                    <div class="number">00</div>
                    <div class="label">Minut</div>
                  </li>
                  <li id="seconds">
                    <div class="number">00</div>
                    <div class="label">Sekund</div>
                  </li>
            </ul>
        </div>

        <footer class="footer-distributed">
			<div class="footer-right">
				<a href="https://github.com/arin2115/ATime"><i class="fa fa-github"></i></a>
			</div>

			<div class="footer-left">
				<p class="footer-links">
                    <% if (!session.logged) { %>
                        <p style="margin-right: 5px;">Witaj <%=session.username%>!</p>
                        <a class="link-1" href="/">Strona główna</a>
                        <a href="/login">Zaloguj się</a>
                        <a href="/register">Zarejestruj się</a>
                    <% } else { %>
                        <a href="/">Strona główna</a>
                        <a onclick="logout()">Wyloguj się</a>
                        <a href="/user">Profil</a>
                        <% if (isAdmin) { %> <a href="/admin">Admin panel</a> <% } %>
                    <% } %>
				</p>

				<p>ATime © 2023</p>
			</div>
		</footer>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
        <script>
            var targetDate;
            window.onload = function() {
                targetDate = new Date("<%=timer.date%>T<%=timer.time%>");   
                timeToLaunch();

                if (days == 0) $( "#days" ).hide();
                else $( "#days" ).show();

                if (hrs == 0) $( "#hours" ).hide();
                else $( "#hours" ).show();

                numberTransition('#days .number', days, 1000, 'easeOutQuad');
                numberTransition('#hours .number', hrs, 1000, 'easeOutQuad');
                numberTransition('#minutes .number', min, 1000, 'easeOutQuad');
                numberTransition('#seconds .number', sec, 1000, 'easeOutQuad');

                setTimeout(countDownTimer,1001);
            };

            //  days + " dni <% if (timer.info) { %> <%=timer.info%> <% } %>"

            var days;
            var hrs;
            var min;
            var sec;

            function timeToLaunch(){
                var currentDate = new Date();

                var diff = (currentDate - targetDate)/1000;
                var diff = Math.abs(Math.floor(diff));  

                days = Math.floor(diff/(24*60*60));
                sec = diff - days * 24*60*60;

                hrs = Math.floor(sec/(60*60));
                sec = sec - hrs * 60*60;

                min = Math.floor(sec/(60));
                sec = sec - min * 60;
            }

            function countDownTimer() { 
                timeToLaunch();

                if (days == 0) $( "#days" ).hide();
                else $( "#days" ).show();

                if (hrs == 0) $( "#hours" ).hide();
                else $( "#hours" ).show();
                
                $( "#days .number" ).text(days);
                $( "#hours .number" ).text(hrs);
                $( "#minutes .number" ).text(min);
                $( "#seconds .number" ).text(sec);

                setTimeout(countDownTimer, 1000);
            }

            function numberTransition(id, endPoint, transitionDuration, transitionEase){
                $({numberCount: $(id).text()}).animate({numberCount: endPoint}, {
                    duration: transitionDuration,
                    easing:transitionEase,
                    step: function() {
                        $(id).text(Math.floor(this.numberCount));
                    },
                    complete: function() {
                        $(id).text(this.numberCount);
                    }
                }); 
            };

            function logout() {
                var data = {
                    method: 'POST',
                    headers: {
                        'Authorization': 'Basic ' + btoa(unescape(encodeURIComponent("<%=session.username%>")))
                    },
                }
                fetch('/auth/logout', data)
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.reload();
                        } else {
                            alert(data.errors[0].message + " [" + data.errors[0].code + "]");
                        }
                    });
            }
        </script>
    </body>
</html>